@model List<CategoryViewModel>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Disingnaton</th>
            <th scope="col">Address</th>
            <th scope="col">Created On</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
       @{
            int count = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td width="20%">@count</td>
                <td width="20%">@item.Name</td>
                <td width="20%">@item.Description</td>
                <td width="25%">@item.Photo</td>
                <td>
                    <div class=" w-60 btn-group" role="group">
                        <a class="btn btn-sm btn-primary" asp-controller="Employee" asp-action="Edite" asp-route-id="@item.Id"><i class=" bi bi-pencil-square"></i>Edite</a>&nbsp;
                        <a class="btn btn-sm btn-danger" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i>Delete</a>
                    </div>

                </td>

            </tr>
            count++;
        }

    </tbody>
</table>
